
/screenshots
/saves
.curseclient
/mods
config/ae2/client.json
config/ae2/common.json
config/alchemistry-common.toml
config/anthillinside-common.toml
config/appleskin-client.toml
config/balm-common.toml
config/buildinggadgets2-common.toml
config/chemlib-common.toml
config/clienttweaks-common.toml
config/constructionwand-client.toml
config/curios-client.toml
config/curiotiab-client.toml
config/cyclic-client.toml
config/cyclic.toml
config/de/mari_023/ae2wtlib.json5
config/defaultworldtype/world-presets.txt
config/extractinator.jsonc
config/flib.toml
config/fml.toml
config/forge-client.toml
config/framedblocks-client.toml
config/framedblocks-common.toml
config/ftbbackups2.json
config/gravestone-client.toml
config/highlighter-common.toml
config/immediatelyfast.json
config/itemphysiclite-client.json
config/experimentalsettingsdisabler-client.toml
config/expatternprovider-common.toml
config/embeddium-options.json
config/embeddium-mixins.properties
config/embeddium-fingerprint.json
config/jade/jade.json
config/jade/hide-blocks.json
config/jade/hide-entities.json
config/jade/plugins.json
config/jade/sort-order.json
config/jei/jei-mod-id-format.ini
config/jei/jei-debug.ini
config/jei/jei-colors.ini
config/jei/jei-client.ini
config/legendarytooltips-common.toml
config/lightoverlay.properties
config/Mekanism/client.toml
config/Mekanism/common.toml
config/Mekanism/gear.toml
config/Mekanism/general.toml
config/Mekanism/generator-storage.toml
config/Mekanism/generators-gear.toml
config/Mekanism/generators.toml
config/Mekanism/machine-storage.toml
config/Mekanism/machine-usage.toml
config/Mekanism/solarpanels.toml
config/Mekanism/solarpanels-storage.toml
config/Mekanism/tiers.toml
config/Mekanism/world.toml
config/merequester-common.toml
config/modularrouters-client.toml
config/modularrouters-common.toml
config/morered-client.toml
config/MouseTweaks.cfg
config/NuclearCraft/common.toml
config/NuclearCraft/fission.toml
config/NuclearCraft/fusion.toml
config/NuclearCraft/materials.toml
config/NuclearCraft/processors.toml
config/NuclearCraft/radiation.toml
config/NuclearCraft/turbine.toml
config/NuclearCraft/world.toml
config/Qubik Studios Mods/SneakyTreeGrowing/blockList.toml
config/Qubik Studios Mods/SneakyTreeGrowing/main.toml
config/resourceful-config-web.json
config/roughlyenoughitems/changelog.txt
config/roughlyenoughitems/config.json5
config/roughlyenoughitems/hints.json
config/roughlyenoughitems/pinyin.properties
config/roughlyenoughitems/pinyin_double.properties
config/sgjourney-client.toml
config/sgjourney-common.toml
config/showcaseitem-common.toml
config/sidebar_buttons.json
/local
/logs
kubejs/README.txt
minecraftinstance.json
options.txt
rhino.local.properties
usercache.json
usernamecache.json
ds_private_storage.json
kubejs/config/client.properties
kubejs/config/common.properties
/defaultconfigs
config/torchmaster.toml
config/toolbelt-common.toml
config/toolbelt-client.toml
config/thoriumreactors-common.toml
config/thoriumreactors-client.toml
config/enderio/base-client.toml
config/enderio/base-common.toml
config/enderio/armory-common.toml
config/enderio/machines-common-1.toml.bak
config/enderio/machines-client.toml
config/enderio/machines-common.toml
config/embers-common.toml
config/skyblockbuilder/data/dimensions.txt
config/skyblockbuilder/data/dimensions.txt
/crash-reports
/config/skyblockbuilder/data
/backups
patchouli_data.json
config/patchouli-client.toml
config/enderio/machines-common-2.toml.bak
config/simple-rpc/server-entries.toml
kubejs/config/probejs.json
kubejs/probe/cache/modHash.txt
/.vscode
kubejs/jsconfig.json
hotbar.nbt
kubejs/data/demo/structures/ruined_igloo.nbt
config/skyblockbuilder/customization.json5
config/jei/blacklist.cfg
/config/jei
config/cofh_core-common.toml
config/ae2additions-common.toml
config/voidminers-common.toml
config/titanium/titanium.toml
config/titanium/titanium-tags.toml
config/thermal_extra-common.toml
config/thermal-common.toml
config/thermal-client.toml
config/sophisticatedstorage-common.toml
config/sophisticatedstorage-client.toml
config/sophisticatedcore-common.toml
config/sophisticatedcore-client.toml
config/sophisticatedbackpacks-common.toml
config/sodiumextras-client.toml
config/sodiumdynamiclights-client.toml
config/Mekanism/tools.toml
config/Mekanism/tools-client.toml
config/Mekanism/mekaweapons.toml
config/leavesbegone-server.toml
config/inventorysorter-client.toml
config/industrialforegoing/machine-resource-production.toml
config/industrialforegoing/machine-misc.toml
config/industrialforegoing/machine-generator.toml
config/industrialforegoing/machine-core.toml
config/industrialforegoing/machine-agriculture-husbandry.toml
config/harvest_with_ease-common.toml
config/ccl.cfg
config/chiselsandbits-client.toml
config/chiselsandbits-common.toml
config/cofh_core-client.toml
config/EnderStorage.cfg
config/factorium-common.toml
config/fasterladderclimbing-client.toml
config/fastsuite.cfg
config/ferritecore-mixin.toml
kubejs/startup_scripts/example.js
kubejs/server_scripts/example.js
kubejs/assets/kubejs/textures/item/example_item.png
kubejs/assets/kubejs/textures/block/example_block.png
kubejs/client_scripts/example.js
instance.json
instance.png
config/appflux-common.toml
config/advgenerators-common.toml
config/advanced_ae-common.toml
config/ad_astra.jsonc
config/ad_astra-client.jsonc
config/ad_astra_giselle_addon.ver2.jsonc
config/mcjtylib-client.toml
config/rftoolsbuilder-client.toml
config/rftoolsdim-common.toml
config/rftoolsutility-client.toml
config/ad_astra.jsonc
config/ad_astra.jsonc
config/ad_astra.jsonc
*.jsonc
blueprints/
config/badoptimizations.txt
config/betterfpsdist.json
config/chunksending.json
config/colorfulhearts.toml
config/configured-client.toml
config/cupboard.json
config/connectivity.json
config/curios-common.toml
config/farmersdelight-client.toml
config/farmersdelight-common.toml
config/fluxnetworks-client.toml
config/findme.json
config/fluxnetworks-common.toml
config/gamemenumodoption-client.toml
config/kleeslabs-common.toml
config/mm/
config/mm/pack/.cache/5d7c155008efc6fe4d744502cd6fc13b5ed4ee6b
config/mm/pack/.cache/a358578d4b4df6570846462a55d6efe8286ff0a1
config/mm/pack/.cache/c4675e2bfd2a93402b231d01cde3741490187212
config/mm/pack/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
modernfix/structureCacheV1/supplementaries_way_sign_5afeece7b2.nbt
config/trashslot-common.toml
config/supplementaries-common.toml
config/supplementaries-client.toml
config/structureessentials.json
config/structurize-client.toml
config/trashcans-common.toml
config/spark/config.json
config/refurbished_furniture.server.toml
config/refurbished_furniture.client.toml
config/smoothchunk.json
config/recipeessentials.json
config/polymorph-integrations.toml
config/nerb.yaml
config/moonlight-common.toml
config/modernfix-common.toml
config/mm/pack/data/minecraft/tags/blocks/mineable/pickaxe.json
config/mm/pack/assets/mm/lang/en_us.json
config/modernfix-mixins.properties
config/moonlight-client.toml
config/packetfixer.properties
TrashSlotSaveState.json
modernfix/structureCacheV1/ad_astra_oil_2ac1e0916c.nbt
modernfix/structureCacheV1/ad_astra_meteor5_91fd9d7c49.nbt
config/rftoolsstorage-client.toml
/config/tacz/backup
/config/tacz/custom/tacz_default_gun
config/cosmeticarmorreworked-client.toml
config/cosmeticarmorreworked-common.toml
config/tacz-client.toml
config/tacz-common.toml
/config/konkrete
config/energizedpower/client.conf
modernfix/structureCacheV1/energizedpower_village_plains_houses_electrician_1_252785c706.nbt
modernfix/structureCacheV1/energizedpower_misc_small_solar_farm_1d0189b699.nbt
modernfix/structureCacheV1/ad_astra_meteor2_56ba0abc15.nbt
fancymenu_data/last_world.fmdata
config/MekanismExtras/world.toml
config/MekanismExtras/generator_extras.toml
config/MekanismExtras/mekanism_extras.toml
config/MekanismExtras/extra_machine_storage.toml
config/MekanismExtras/extra_machine_usage.toml
config/fancymenu/user_variables.db
config/fancymenu/ui_themes/dark.json
config/fancymenu/legacy_checklist.txt
config/fancymenu/ui_themes/light.json
config/fancymenu/layout_editor/widgets/element_layer_control.lewidget
config/fancymenu/custom_gui_screens.txt
config/energizedpower/server.conf
config/energizedpower/common.conf
config/fancymenu/customizablemenus.txt
fancymenu_data/last_world.fmdata
config/jetboots-client.toml
config/megacells.json
config/mffs-client.toml
config/mffs-common.toml
config/watercollector-common.toml
config/xycraft/core_client.toml
config/experienceobelisk-common.toml
config/defaultsettings.json
